body {
    padding: 150px 0 200px;
}


.container {
    display: flex;
    margin: 0 auto;
    width: 950px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    position: relative;
    margin: 5px;
    height: 60px;
    width: 60px;
    background: #222;
}

.bar  {
    position: absolute;
    width: 40px;
    height: 5.8px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.bar div {
    background: white;
    width: 100%;
    height: 100%;
}

.bar-2 {transform: rotate(45deg)}
.bar-3 {transform: rotate(90deg)}
.bar-4 {transform: rotate(135deg)}

h1 {
    width: 950px;
    margin: 0 auto 90px;
    font-size: 90px;
    font-family: "Sora";
    font-weight: 900;
    letter-spacing: -5px;
}